@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-neutral-800;
  }

  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }
}

.custom-next-arrow::after,
.custom-next-arrow::before {
  @apply text-2xl text-blue-600 !important;
}

.colorPAbout {
  @apply text-[#FF911A] mr-3;
}

.bgColorPAbout {
  @apply text-[#9c9c9c] rounded-md;
}

/* .linkTabs {
  @apply text-2xl border-none target:text-blue-400 active:bg-blue-700 text-black font-medium w-full capitalize !important;
} */

.hideUniHome {
  @apply block;
}

@media (max-width: 768px) {
  .hideUniHome {
    @apply hidden;
  }
}

/* .buttonIn{
  @apply  space-x-2 rounded-md bg-blue-700 px-6 pb-2 pt-2.5 hover:bg-orange-400  text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] !important;
} */

@font-face {
  font-family: 'Jomhuria-R';
  src: url('./components/Assets/fonts/Jomhuria-Regular.ttf');
}

@font-face {
  font-family: 'AntonSC-R';
  src: url('./components/Assets/fonts/Anton_SC/AntonSC-Regular.ttf');
}

/**************Shadow of Quiz Card**************/
.cardShadow {
  box-shadow: 0px 18px 53px -18px rgba(0, 0, 0, 0.91);
}

#animation-register {
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: shadow-throb;
  animation-timing-function: linear;
}

@keyframes shadow-throb {
  0% {
    box-shadow:
      0px 0px 0px 0px orange,
      0px 0px 0px 0px orange,
      0px 0px 0px 0px orange;
  }

  20% {
    box-shadow:
      0px 0px 0px 2px orange,
      0px 0px 0px 2px orange,
      0px 0px 0px 2px orange;
  }

  40% {
    box-shadow:
      0px 0px 0px 4px orange,
      0px 0px 0px 4px orange,
      0px 0px 0px 4px orange;
  }

  60% {
    box-shadow:
      0px 0px 4px 6px orange,
      0px 0px 4px 6px orange,
      0px 0px 4px 6px orange;
  }

  80% {
    box-shadow:
      0px 0px 6px 6px orange,
      0px 0px 6px 6px orange,
      0px 0px 6px 6px orange;
  }

  100% {
    box-shadow:
      0px 0px 6px 6px orange,
      0px 0px 6px 6px orange,
      0px 0px 6px 6px orange;
  }
}